<div class="panel panel-default message-card">
     {{!--Simply delegated the act of rendering messages to a component in case of future filtering messages by intended target(future proofing)--}}
     <div class="panel-heading">
        <h4>{{msg.topic}}</h4>
     </div>
     <div class="panel-body">
          <h5>From: {{msg.name}}     ({{msg.email}})</h5>
          <h5>{{formatDate msg.created}}</h5>
          <p>{{msg.content}}</p>
     </div>
     <div class="panel-footer">
          {{yield}}
     </div>
</div>
