<div class="panel panel-default message-card">
     <div class="panel-heading {{if topicValid 'has-success has-feedback'}}">
               {{input type="text" value=name class="form-control" placeholder="Please type the clubs name."}}
     </div>
     <div class="panel-body">
               {{input type="text" value=website class="form-control" placeholder="Please type the clubs website url."}}
     </div>
     <div class="panel-body">
               {{input type="text" value=logo class="form-control" placeholder="Please type the clubs logo url."}}
     </div>
     <div class="panel-footer">
          <button class="btn btn-success btn-md" disabled={{isDisabled}} {{action 'createClub'}}>Create</button>
          <button class="btn btn-danger btn-md" {{action 'cancelCreate'}}>Cancel</button>
     </div>
</div>
