<div class="col-sm-8 col-sm-offset-2">
     {{!--Currently displays all messages in the database, will have to be revised to introduce pagination--}}
     {{#each sortedModel as |message|}} {{!--records are returned from the store in chronological order by the controller--}}
               {{#message-card msg=message}} {{!--message content are rendered through the component--}}
               <a href="mailto:{{message.email}}?Subject=Re:{{message.topic}}">  {{!--No functionality of replying from within the ember app at the moment--}}
                    <button class="btn btn-success btn-md ">Reply</button>
               </a>
               <a href="mailto:?Subject=Fwd:{{message.topic}}&body={{message.content}}">
                    <button class="btn btn-primary btn-md ">Forward</button>
               </a>
               <button class="btn btn-danger btn-md " {{action 'deleteMessage' message}}>Delete</button>

               {{/message-card}}
     {{else}}
          <div align="center">No Messages.</div>
     {{/each}}
</div>
