<div class="col-sm-8 col-sm-offset-2">
     {{outlet}}
     {{#each sortedModel as |newsArticle|}}
          {{#if newsArticle.isEditing}}
               <div class="panel panel-default">
                    <div class="panel-heading">
                         {{input value=newsArticle.title class='form-control'}}
                         <h5>{{formatDate newsArticle.created}}</h5>
                    </div>
                    <div class="panel-body">
                         {{textarea class="form-control" rows="4" value=newsArticle.content}}
                    </div>
                    <div class="panel-footer">
                         <button class="btn btn-success btn-md" {{action 'saveEdit' newsArticle}}>Save</button>
                         <button class="btn btn-danger btn-md" {{action 'cancelEdit' newsArticle}}>Cancel</button>
                    </div>
               </div>
          {{else}}
               {{#article-read article=newsArticle}}
               <div class="panel-footer">
                    <button class="btn btn-primary btn-md" {{action 'editArticle' newsArticle}}>Edit</button>
                    <button class="btn btn-danger btn-md" {{action 'deleteArticle' newsArticle}}>Delete</button>
               </div>
               {{/article-read}}
          {{/if}}
     {{else}}
          <br/>
          <div align="center">No News Articles.</div>
     {{/each}}
</div>
